{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Latest Jobs</h3>

    {% for job in jobs %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5>{{ job.title }} </h5>
                <p class="mb-1"><strong>Company:</strong>{{ job.company_name }} </p>
                <p class="mb-1"><strong>Location:</strong>{{ job.location }} </p>
                <p class="mb-2"><strong>Salary:</strong> ₹{{ job.salary }} </p>

                <p>
                    <strong>Skills:</strong>
                    {% for skill in job.skills_required.all %}
                        <span class="badge bg-secondary">{{ skill.name }}</span>
                    {% endfor %}
                </p>

                <a href="{% url 'jobs:job_detail' job.id %}" class="btn btn-outline-primary btn-sm">
                    View Details
                </a>
            </div>
        </div>
        {% empty %}
        <p>No jobs available.</p>
        {% endfor %}
</div>
{% endblock %}